@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  right: 0;
  margin-top: 12px;
  margin-right: 20px;
}

.center {
  border-radius: 8px;
  padding: 5px;
  margin: auto;
  background-color: rgb(255, 255, 96);
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: large;
}

.subjects_section {
  display: flex;
  flex-direction: column;
  line-height: 1.55em;
  margin-right: 1rem;
}

.subjects_section > span {
  font-family: "Roboto", sans-serif;
}

.input_grade {
  min-width: 150px;
  padding: 2px;
}

.total_grade_div {
  text-align: center;
}

.reset_button {
  display: flex;
  justify-content: flex-end;
  margin-right: 33%;
  margin-bottom: 20px;
}
/*  */

.background_LS {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 100px;

  /* height: 50px; */
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.WhatsAppIcon {
  color: #23d5ab;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 8px;
}

.share_div {
  width: auto;
  margin: auto;
  min-width: 200px;
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
