.classes_page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background_classes {
  background-color: #ffa600;
  font-size: 50px;
}

.background_classes_chemisty {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(
    to left,
    #c7e2ff,
    #59f89c,
    #98f859,
    #7458f8,
    #670099
  );
}
.background_classes_english {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f51df2;
}
.background_classes_geography {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #75f332;
}
.background_classes_biology {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #76ff40;
}
.background_classes_civics {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #405dff;
}
.background_classes_math {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #2affff;
}
.background_classes_physics {
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #2a3fff;
}
